# Dataset
PACS/

# # Results (I need to push these results as well)
# dann_results/
# cdan_results/
# ERM_Results/
# dan_results/

# Repositories
DomainBed/
sam/

# Saved Models
Task2_Models/

ERM_Model/
DANN_Model/
CDAN_Model/
DAN_Model/
